In [21]:
import urllib.request as url 
import bs4,lxml

In [22]:
def webcrawl(path):
    httpresponse= url.urlopen(path)
    data= bs4.BeautifulSoup(httpresponse,'lxml')
    return data

In [23]:
data = webcrawl("https://www.espncricinfo.com/")

In [24]:
div= data.find("div",class_="ds-bg-fill-navbar")
div =div.findAll("div",class_="ds-flex ds-flex-row")[-1]
a_href=div.findAll("a")[-1]["href"];

In [25]:
a_href

'https://www.espncricinfo.com/ci/engine/records/index.html'

In [26]:
 data=webcrawl(a_href)

In [27]:
data= webcrawl("https://stats.espncricinfo.com/ci/engine/records/index.html?category=2;class=1")
a=data.find("ul", class_="Record").findAll('a')[0]['href']
path="https://stats.espncricinfo.com"+a

In [28]:
data =webcrawl(path)

In [42]:
table = data.find("table")

In [43]:
trlist=table.findAll("tr")

In [44]:
col1=[]
col2=[]
col3=[]
col4=[]

tdl=[]
for i in trlist:
    td_list=i.findAll("td")
    tdl.append(td_list)
    
    
del tdl[0]

In [45]:
for i in range(len(tdl)):
    del tdl[i][2]
    for j in range(len(tdl[i])):
        tdl[i][j]=tdl[i][j].text

In [47]:
dic = {"Series":[],"Season":[],"Winner":[],"margin":[]}
for i in range(len(tdl)):
        dic["Series"].append(tdl[i][0])
        dic["Season"].append(tdl[i][1])
        dic["Winner"].append(tdl[i][2])
        dic["margin"].append(tdl[i][3])

In [49]:
import pandas as pd

In [50]:
df = pd.DataFrame(dic)

In [55]:
df.tail(100)

,Series,Season,Winner,margin
706,Sri Lanka in South Africa Test Series,2016/17,South Africa,3-0 (3)
707,Bangladesh in New Zealand Test Series,2016/17,New Zealand,2-0 (2)
708,Bangladesh in India Test Match,2016/17,India,1-0 (1)
709,Bangladesh in Sri Lanka Test Series,2016/17,drawn,1-1 (2)
710,Border-Gavaskar Trophy (Australia in India),2016/17,India,2-1 (4)
...,...,...,...,...
801,New Zealand in England Test Series,2022,England,3-0 (3)
802,Pataudi Trophy (India in England),2021-2022,drawn,2-2 (5)
803,Warne-Muralitharan Trophy (Australia in Sri La...,2022,drawn,1-1 (2)
804,ICC World Test Championship,2021-2023,-,
805,Pakistan in Sri Lanka Test Series,2022,drawn,1-1 (2)